body {
    background-image: url("dis.jpg");
    background-size: cover;
}

h1 {
    font-family: fantasy;
}

img {
    transition: all 1s;
}

img :hover {
    transform: scale(1.1);
}

h2 {
    font-family: fantasy;
}